@tailwind base;
@tailwind components;
@tailwind utilities;

/* swiper slider custom button CSS start */
.swiper-pagination-bullet {
  background-color: transparent !important;
  border: 2px solid black !important;
  width: 12px !important;
  height: 12px !important;
}
.swiper-pagination-bullet-active {
  background-color: black !important;
  width: 12px !important;
  height: 12px !important;
}
.swiper-pagination {
  display: flex;
  top: 40% !important;
  justify-content: start !important;
  /* top: 330px !important; */
}
/* swiper slider custom button CSS END */
